<html>
    <head>

    </head>
    <body>
        <h1>Totally Accurate Date Simulator</h1>
        <p>Welcome to the Totally Accurate Date Simulator! This is a totally accurate simulation 
            of a modern "dating" situation:</p>
        <p>Two attractive (to the extent that out-of-copyright images will allow) strangers, 
            having a conversation in a mutually-agreeable location, over light refreshments.</p>
        <p>When the date begins, you will be asked to select a series of actions from the list of usual date activities.</p>
        <p>By judging your partner's responses to these actions, you will attempt to guide your date to a successful conclusion.</p>
        <p>Romance awaits!</p>
    </body>
    <form action="/date">
    <input method="post" value="Go on a totally accurate date" type="submit"><br>
    </form>
</html>